{% extends 'blog/base.html' %}
{% block content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <p>title: {{ post.title }}</p>
            <p>author: {{ post.author }}</p>
            <p>text: {{ post.text }}</p>
            <p>created_date: {{ post.created_date }}</p>
            <a href="{% url 'post_list' %}">back</a>
            <a href="{% url 'post_modify' pk=post.pk %}">modify</a>
            <button type="submit" class="btn" onclick="location.href='{% url 'post_delete' pk=post.pk %}'" name="deletebutton" value="Click">delete button</button>
        </form>
    </div>
{% endblock %}